@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body, button, input, table, select, textarea {
	font-family: 'Noto Sans KR', sans-serif;
}

#header_cont, #header_search, #header_main {
	width: 100%;
	margin:0;
}
/* 디폴트 색 #ff3131 */
#header_search {
	padding: 20px;
}

#header_search img {
	width: 115px;
	vertical-align: middle;
	margin: 0 20px 0 15%;
}

#header_search input[type=text] {
	width: 30%;
	height: 60px;
	margin-left: 6%;
	border-left: 3px solid #ff3131;
}

#header_search input[type=button]  {
	height: 68px;
	width: 7%;
} 

#header_main {
	border-top: 1px solid lightgray;
	border-bottom: 2px solid  #ff3131;
}
#header_login {
	text-align: right;
	width: 26%;
}

#header_login ul li a {
	text-decoration: none;
	font-size: 16px;
	padding: 0 10px;
	color: #3f3f3f;
}

#header_main table, #header_login ul li, #header_login ul, #header_login {
	display: inline-block;
	vertical-align: middle;
}

#header_main table, #header_main table tr, #header_main table td {
	height: 60px;
	border-collapse: collapse;
}

#header_main table{
	margin: 0 16%;	
}

#header_main table td {
	vertical-align: middle;
}

#header_main table td:hover, #header_main table a:hover  {
	background-color: #ff3131;
	color: white;
}

#header_main table a {
	width: 100%;
	height: 100%;
	font-size : 23px;
	font-weight: bold;
	text-decoration: none;
	padding: 11px 20px;
	color: #ff3131;
}

#bottom {
	background-color: #400C0C;
	padding:50px;
}