@charset "UTF-8";

#content {
	width: 65%;
	margin: 0 auto;
}

#content h3 {
	text-align: left;
	padding: 10px;
}

#mov_tb {
	width: 100%;
	text-align: center;
	margin: 10px 0;
	border-collapse: collapse;
}

#mov_tb th {
	padding: 10px 0;
	border-top: 2px solid #ff3131;
	border-bottom: 1px solid #ff3131;
}

#mov_tb td {
	padding: 15px 0;
	border-bottom: 1px solid lightgray;
}

#tit_td {
	text-align: left;
	width: 40%;
}

#mov_tb a {
	text-decoration: none;
	color: black;	
}

#mov_tb a:hover {
	color: #ff3131;
}

#paging_box {
	text-align: center;
	padding:10px;
} 

#paging_box a {
	text-decoration: none;
}

#search_label {
	border-left: 3px solid #ff3131;
	border-right: 0; 
}

#search_txt{
	border-right: 3px solid #ff3131;
	border-left: 0;
}

#search_txt, #search_label {
	border-top: 3px solid #ff3131;
	border-bottom: 3px solid #ff3131;
	vertical-align: middle;
}

#search_btn {
	background-color: #ff3131;
	color: white;
	vertical-align: middle;
	border: 1px solid #ff3131;
}

.btn_white{border:1px solid #ff3131; color: #ff3131; background-color: white; font-weight: bold;}
.btn_red{background-color: #ff3131; color:white; border:0; font-weight: bold;}
.btn_white:focus, .btn_red:focus {outline: none;}