@charset "UTF-8";

#header_main table tr td:nth-child(1), #header_main table tr td:nth-child(1) a{
	background-color: #ff3131;
	color: white;
}

#r_search {
	width:100%;
	text-align: center;
	padding: 20px 0 50px 0;
}

#r_search select, #r_search input[type=submit] { height: 50px; }

#r_search select {width: 10%;}

#r_search input[type=text]{
	height: 50px;
	width: 20%;
}

#r_search input[type=submit] { width: 8%; }

#r_search select:focus, #r_search input[type=submit]:focus, #r_search input[type=text]:focus { outline: none; }

#mov_list span{ color:#f4ef0f; }

#review_post {background-color: #f5f5f5; padding: 10px;}

#mov_info {
	margin-top: 10px;
	padding: 20px 10px 10px 10px;
	border-bottom: 1px solid lightgray;
}
#mov_info table {width: 100%;}

#mov_info table th {
	width: 10%;
	text-align: left;
}

#mov_info table td {text-align: left;}

#mov_info table tr:nth-child(1) td:nth-child(2) {
	font-size: 25px;
	font-weight: bold;
	vertical-align: top;
	padding-top: 5px;
}

#post_td { width: 28%;}

#mov_info table img{
	width: 85%;
	height: 250px;
}
#mov_info table span {color: #f4ef0f}

#writer_info {padding: 15px 0 0 20px;}
#writer_info table {width: 100%;}
#writer_info table tr:nth-child(1) td:nth-child(1) {width: 7%;} 
#writer_info table tr:nth-child(1) td:nth-child(2) {width: 64%; font-size: 17px;} 
#writer_info table tr:nth-child(1) td:nth-child(3) {width: 18%; font-size: 17px;} 
#writer_info table img {width: 50px; height: 50px; border-radius: 50px;}

#review_cont textarea {width: 98%; resize: none; height: 250px; border-radius: 10px; border: 1px solid gray; margin: 10px 0; padding: 20px 5px;}
#review_cont textarea:focus {outline: none;}

#like_btn img {width: 30px; height: 25px; vertical-align: middle; margin:5px 10px;}
#like_btn {vertical-align: middle; font-size: 17px;}

#review_btn {text-align: right; width: 100%; padding: 20px 0;}
#review_btn button, #review_up_btn button { border-radius: 5px; width: 8%; height: 45px; margin: 0 5px 10px 5px;}

#r_search p {padding: 10px;}
#r_search span {
	font-size: 20px;
	font-weight: bold;
}

#review_up_btn {text-align: center; padding:20px 0;}
#review_cont select{ margin: 10px; width: 10%; height: 30px;}
